html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

::placeholder {
  color: #310101;
  letter-spacing: 2px;
}

body {
  background-color: #4f4a4a;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 17px;
  line-height: 1.5;
}